.principal{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
}
 .principal h1{ 
     
    text-align: center;
    font-size: 5em; 
    max-width: 550px;
      margin-left: 20px;
}
.principal > img{
  max-width: 600px;
  max-height: 204px; 
}

.sobre h1{
    font-size: 3em;
}

.sobred{
    display: flex;
    flex-wrap: wrap;
}